<h2>Adding new user to the database</h2>
<form method="POST" action="/api">
    <label>
        <p>
            *E-mail:
        </p>
        <p>
            <input type="email" name="email" required>
        </p>
    </label>

    <label>
        <p>
            Name:
        </p>
        <p>
            <input type="text" name="firstName">
        </p>
    </label>

    <label>
        <p>
            Surname:
        </p>
        <p>
            <input type="text" name="lastName">
        </p>
    </label>

    <label>
        <p>
            *Role:
        </p>
        <p>
            <select name="role">
                <option value="User">User</option>
                <option value="Admin">Admin</option>
            </select>
        </p>
    </label>

    <p>
        <small>Fields marked with * are required.</small>
    </p>

    <p>
        <button type="submit">Save</button>
    </p>

    {{> go-to-users}}
</form>