<p>Please enter a valid login password.</p>
<form method="POST" action="/api/authenticate">
    <label>
        <p>
            Password:
        </p>
        <p>
            <input type="password" name="password" required>
        </p>
    </label>

    <p>
        <button type="submit">Login</button>
    </p>

</form>